.homepage {
  position: relative;
}

.homepage h1 {
  position: absolute;
  top: 0;
  left: 50;
}

.box {
  display: flex;
  flex-direction: row;
  gap: 50px;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
}

.box a {
  width: 250px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  text-decoration: none;
  border-radius: 20px;
  background-color: white;
  color: purple;
  font-size: 30px;
  font-weight: 700;
}

.menu {
  color: white;
}

.menu-image {
  width: 100px;
}

.cancelAndBack {
  position: absolute;
  bottom: 50px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.cancelAndBack button {
  font-size: 50px;
  padding: 50px;
  background-color: cyan;
  border: 5px solid white;
  border-radius: 20px;
}
