.homepage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

h1 {
  font-size: 100px;
}

.homepage > span {
  color: white;
  font-size: 48px;
}

.language {
  height: 100px;
  background-color: white;
  margin-top: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 30px 50px;
}

.language a {
  text-decoration: none;
}

.language span {
  font-size: 50px;
}

.text-red {
  color: red;
}

.language .border {
  width: 5px;
  height: 75%;
  background-color: violet;
  border-radius: 5px;
}

.aqua-park {
  margin-top: 50px;
}
